{% extends "base_student.html" %}

{% load static %}
{% load custom_filters %}
{% load custom_filters_gpa %}
{% block result_css %}
<link rel="stylesheet" href="{% static "css/results.css" %}">
{% comment %} <link rel="stylesheet" href="main/static/css/results.css"> {% endcomment %}

{% endblock  %}

{% block content %}

    <div class="container">

    {% comment %} {% if msg %}
        <h2 class="text-center msg-text" id="heading-text" style="font-size: 1em;">  {{ msg }} </h2>
    {% else %}  {% endcomment %}
    {% if msg %}
    <h2 class="text-center mt-3 text-3xl font-semibold">{{ msg }}</h2>
    </div>
{% endif %}
</div>
{% if not request.GET.search %}
<h2 class="text-center mt-2 text-3xl font-semibold">Your Results will be shown here</h2>
{% else %}
        <div class="container mt-2 printable-area">
            {% if not msg %}
            <div class="flex justify-end mb-4">
                <!-- Print Button aligned to the right -->
                <button 
                    class="px-4 py-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 text-sm"
                    onclick="printPage()"
                >
                    Print Result
                </button>
            </div>
            {% endif %}
        {% if student.student_name %}
            <div class="bg-white rounded-lg shadow-md mt-3 p-6">
                <div class="space-y-4">
                    <!-- Student Name -->
                    <div class="flex items-center">
                        <div class="w-1/2">
                            <h4 class="text-green-600 text-sm font-semibold">Student:</h4>
                        </div>
                        <div class="w-1/2">
                            <h3 class="text-base">{{ student.student_name }}</h3>
                        </div>
                    </div>
                    <!-- Roll Number -->
                    <div class="flex items-center">
                        <div class="w-1/2">
                            <h4 class="text-green-600 text-sm font-semibold">Roll Number:</h4>
                        </div>
                        <div class="w-1/2">
                            <h3 class="text-base">{{ student.roll_no }}</h3>
                        </div>
                    </div>
                    <!-- Father Name -->
                    <div class="flex items-center">
                        <div class="w-1/2">
                            <h4 class="text-green-600 text-sm font-semibold">Father Name:</h4>
                        </div>
                        <div class="w-1/2">
                            <h3 class="text-base">{{ student.father_name }}</h3>
                        </div>
                    </div>
                    <!-- Session -->
                    <div class="flex items-center">
                        <div class="w-1/2">
                            <h4 class="text-green-600 text-sm font-semibold">Session:</h4>
                        </div>
                        <div class="w-1/2">
                            <h3 class="text-base">{{ student.session }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
                {% for semester_number, semester_results in semester_results.items %}
                <div class="mt-8 mb-4">
                    <h4 class="text-xl font-semibold">{{ semester_number }} - GPA: {{ semester_gpas|dictattribute:semester_number }}</h4>
                </div>

                <div class="overflow-x-auto">
                    <table class="min-w-full text-xs border border-gray-200">
                        <thead>
                            <tr class="bg-green-600 text-white">
                                <th class="px-4 py-2 border">Sr</th>
                                <th class="px-4 py-2 border">Course Code</th>
                                <th class="px-4 py-2 border">Course Title</th>
                                <th class="px-4 py-2 border">Credit Hour</th>
                                <th class="px-4 py-2 border">Max. Marks</th>
                                <th class="px-4 py-2 border">Internal Marks</th>
                                <th class="px-4 py-2 border">Mid Term Marks</th>
                                <th class="px-4 py-2 border">Final Term Marks</th>
                                <th class="px-4 py-2 border">Practical Work</th>
                                <th class="px-4 py-2 border">Total Marks</th>
                                <th class="px-4 py-2 border">Percentage %</th>
                                <th class="px-4 py-2 border">Q.P</th>
                                <th class="px-4 py-2 border">Grade</th>
                                <th class="px-4 py-2 border">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in semester_results %}
                                <tr class="hover:bg-gray-50">
                                    <td class="px-4 py-2 border text-center">{{ forloop.counter }}</td>
                                    <td class="px-4 py-2 border">{{ result.course.course_code }}</td>
                                    <td class="px-4 py-2 border">{{ result.course.course_title }}</td>
                                    <td class="px-4 py-2 border">
                                        {% if result.special_case %}
                                            {{ result.course.credit_hour }} (Special Case: {{ result.course.lab_work }} Lab Work)
                                        {% elif result.effective_credit_hour is not None %}
                                            {{ result.course.credit_hour }} ({{ result.effective_credit_hour }} - {{ result.course.lab_work }})
                                        {% else %}
                                            Data not available
                                        {% endif %}
                                    </td>
                                    <td class="px-4 py-2 border text-center">{{ result.course_marks }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.internal_marks }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.mid_term_marks }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.final_term_marks }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.practical_work }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.total_obtained_marks | floatformat:2 }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.percentage }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.quality_points }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.grade }}</td>
                                    <td class="px-4 py-2 border text-center">{{ result.status }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="14">No results found for this Roll number.</td>
                                </tr>
                            {% endfor %}
                        <tr class="bg-gray-100 font-semibold">
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="px-4 py-2 border">Semester Total</td>
                            <td class="px-4 py-2 border text-center">{{ semester_totals|get_item:semester_number|get_item:"total_credit_hours" }}</td>
                            <td class="px-4 py-2 border text-center">{{ semester_totals|get_item:semester_number|get_item:"total_full_marks" }}</td>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="px-4 py-2 border text-center">{{ semester_totals|get_item:semester_number|get_item:"max_marks" }}</td>
                            <td class="px-4 py-2 border text-center">{{ semester_totals|get_item:semester_number|get_item:"average_percentage" }}%</td>
                            <td class="px-4 py-2 border text-center">{{ semester_totals|get_item:semester_number|get_item:"total_quality_points" }}</td>
                            <td class="border" colspan="2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="gpa-display">
                    <h3 class="text-center mt-2" style="font-size: 1.1em;">
                        Semester GPA: {{ semester_gpas|dictattribute:semester_number }} <span class="fs-5">(ERRORS AND OMISSIONS EXPECTED)</span>
                    </h3>
                </div>
            {% endfor %}



  {% if opt_results %}

            <p class="text-center text-warning" style="font-size: 0.9em;">*This Extra course will not affect result</p>
            <div class="table-responsive d-print-table">
                <table class="table-success" style="font-size: 0.80em">
                    <thead  <thead class="table-success">>
                        <tr>
                            <th class="bg-success">Sr</th>
                            <th class="bg-success">Course Code</th>
                            <th class="bg-success">Course Title</th>
                            <th class="bg-success">Credit Hour</th>
                            <th class="bg-success">Internal Marks</th>
                            <th class="bg-success">Mid Term Marks</th>
                            <th class="bg-success">Final Term Marks</th>
                            <th class="bg-success">Practical Work</th>
                            <th class="bg-success">Total Marks</th>
                            <th class="bg-success">Percentage %</th>
                            <th class="bg-success">Grade</th>
                            <th class="bg-success">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for opt_result in opt_results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ opt_result.course.course_code }}</td>
                            <td>{{ opt_result.course.course_title }}</td>
                            {% comment %} <td>{{ opt_result.course.credit_hour }}</td> {% endcomment %}
                           <td>  {{ opt_result.course.credit_hour }} ({{ opt_result.course.credit_hour }} - {{ opt_result.course.lab_work }}) </td>
                            <td>{{ opt_result.internal_marks }}</td>
                            <td>{{ opt_result.mid_term_marks }}</td>
                            <td>{{ opt_result.final_term_marks }}</td>
                            <td>{{ opt_result.practical_work }}</td>
                            <td>{{ opt_result.total_obtained_marks | floatformat:2 }}</td>
                            <td>{{ opt_result.percentage }}</td>
                            <td>{{ opt_result.grade }}</td>
                            <td>{{ opt_result.status }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No optional courses found.</td>
                        </tr>
                        {% endfor %}
                        <tr>
                        </tbody>
                    </table>
               </div>
                    {% endif %}

                    <h6 class="text-center mt-2">Developed by <strong class='text-success fs-5 fw-5'>Muhammad Yahya</strong></h6>
    </div>
    {% endif %}

    {% endblock content %}

    {% block js_results %}
<script src="{% static "js/results.js" %}"></script>

{% endblock js_results %}

{% block js_upload_results %}
{% endblock  %}


















def calculate_grade(percentage):
    """Calculate grade based on percentage according to the provided conversion table."""
    if percentage is None:
        return 'N/A'
    percentage = float(percentage)
    if percentage >= 85:
        return 'A+'
    elif percentage >= 80:
        return 'A'
    elif percentage >= 75:
        return 'B+'
    elif percentage >= 70:
        return 'B'
    elif percentage >= 65:
        return 'C+'
    elif percentage >= 60:
        return 'C'
    elif percentage >= 50:
        return 'D'
    else:
        return 'F'

@login_required
def exam_results(request):
    try:
        student = Student.objects.get(user=request.user)
    except Student.DoesNotExist:
        return render(request, 'exam_results.html', {'msg': 'No student profile found for this user.'})

    roll_no = student.university_roll_no or 'N/A'
    session = student.applicant.session
    print(f"Student: {student}, Roll No: {roll_no}, Session: {session}, Time: 11:48 PM PKT, July 12, 2025")

    # Fetch exam results with shift filter
    results = ExamResult.objects.filter(
        student=student,
    ).select_related('course_offering__course', 'course_offering__semester', 'course_offering__academic_session').order_by(
        'course_offering__semester__name', 'course_offering__course__code'
    )
    print(f"Results fetched: {results.count()} entries.")

    # Handle case where no results are found
    not_found_roll = f"No results found for roll number {roll_no}" if roll_no and not results else None

    # Separate optional and non-optional results
    opt_results = results.filter(course_offering__course__opt=True)
    non_opt_results = results.exclude(course_offering__course__opt=True)
    print(f"Optional results count: {opt_results.count()}, Non-optional results count: {non_opt_results.count()}.")

    def calculate_quality_points(result):
        credit_hour = result.course_offering.course.credits
        total_marks = math.ceil(float(result.percentage or 0))
        print(f"Result for {result.student.university_roll_no}: Percentage: {result.percentage}, Ceiled: {total_marks}")

        quality_points_mapping = {
            40: 1.0, 41: 1.1, 42: 1.2, 43: 1.3, 44: 1.4, 45: 1.5,
            46: 1.6, 47: 1.7, 48: 1.8, 49: 1.9, 50: 2.0, 51: 2.07,
            52: 2.14, 53: 2.21, 54: 2.28, 55: 2.35, 56: 2.42, 57: 2.49,
            58: 2.56, 59: 2.63, 60: 2.70, 61: 2.76, 62: 2.82, 63: 2.88,
            64: 2.94, 65: 3.00, 66: 3.05, 67: 3.10, 68: 3.15, 69: 3.20,
            70: 3.25, 71: 3.30, 72: 3.35, 73: 3.40, 74: 3.45, 75: 3.50,
            76: 3.55, 77: 3.60, 78: 3.65, 79: 3.70, 80: 3.75, 81: 3.80,
            82: 3.85, 83: 3.90, 84: 3.95, 85: 4.0, 86: 4.0, 87: 4.0,
            88: 4.0, 89: 4.0, 90: 4.0, 91: 4.0, 92: 4.0, 93: 4.0,
            94: 4.0, 95: 4.0, 96: 4.0, 97: 4.0, 98: 4.0, 99: 4.0,
            100: 4.0
        }
        quality_points = quality_points_mapping.get(total_marks, 0.0) * credit_hour
        print(f"Result: {result.student.university_roll_no}, Marks: {total_marks}, Quality Points: {quality_points}")
        return round(quality_points, 2)

    # Add calculated fields to results
    for result in results:  # Process both optional and non-optional results
        result.quality_points = calculate_quality_points(result)
        result.grade = calculate_grade(result.percentage)
        result.effective_credit_hour = result.course_offering.course.credits
        result.course_marks = result.get_total_max_marks()
        print(f"Result: {result.student.university_roll_no}, Grade: {result.grade}, Quality Points: {result.quality_points}, "
              f"Effective Credit Hours: {result.effective_credit_hour}, Course Marks: {result.course_marks}")

    # Group non-optional results by semester
    semester_results = defaultdict(list)
    for result in non_opt_results:
        semester_results[result.course_offering.semester.name].append(result)

    # Calculate semester-wise metrics
    semester_gpas = {}
    semester_totals = {}
    for semester, semester_data in semester_results.items():
        total_qp = sum(calculate_quality_points(result) for result in semester_data)
        total_credit_hours = sum(result.course_offering.course.credits for result in semester_data)
        semester_gpas[semester] = round(total_qp / total_credit_hours, 2) if total_credit_hours > 0 else 0

        total_marks = sum(float(result.percentage or 0) * result.course_offering.course.credits for result in semester_data)
        avg_percentage = math.ceil(total_marks / total_credit_hours) if total_credit_hours > 0 else 0
        total_full_marks = sum(result.get_total_max_marks() for result in semester_data)
        max_marks = sum(result.total_marks or 0 for result in semester_data)
        total_quality_points = round(sum(calculate_quality_points(result) for result in semester_data), 2)

        semester_totals[semester] = {
            'total_credit_hours': total_credit_hours,
            'total_full_marks': total_full_marks,
            'max_marks': max_marks,
            'average_percentage': avg_percentage,
            'total_quality_points': total_quality_points
        }
        print(f"Semester: {semester}")
        print(f"  Total Credit Hours: {total_credit_hours}")
        print(f"  Total Full Marks: {total_full_marks}")
        print(f"  Max Marks: {max_marks}")
        print(f"  Average Percentage: {avg_percentage}%")
        print(f"  Total Quality Points: {total_quality_points}")

    # Calculate overall CGPA (excluding optional courses)
    total_quality_points = round(sum(result.quality_points for result in non_opt_results), 2)
    total_credit_hours = sum(result.course_offering.course.credits for result in non_opt_results)
    cgpa = round(total_quality_points / total_credit_hours, 2) if total_credit_hours > 0 else 0
    print(f"Total Quality Points: {total_quality_points}, Total Credit Hours: {total_credit_hours}, CGPA: {cgpa}")

    total_marks = sum(float(result.percentage or 0) * result.course_offering.course.credits for result in non_opt_results)
    avg_percentage = math.ceil(total_marks / total_credit_hours) if total_credit_hours > 0 else 0
    print(f"Total Marks: {total_marks}, Average Percentage: {avg_percentage}")

    total_full_marks = sum(result.get_total_max_marks() for result in non_opt_results)
    max_marks = sum(result.total_marks or 0 for result in non_opt_results)
    print(f"Total Full Marks: {total_full_marks}, Max Marks: {max_marks}")

    context = {
        'student': student,
        'semester_results': dict(semester_results),
        'semester_gpas': semester_gpas,
        'opt_results': opt_results,
        'roll_no': roll_no,
        'session': session,
        'semester_totals': semester_totals,
        'msg': not_found_roll,
        'total_credit_hours': total_credit_hours,
        'total_full_marks': total_full_marks,
        'max_marks': max_marks,
        'avg_percentage': avg_percentage,
        'total_quality_points': total_quality_points,
        'cgpa': cgpa,
    }

    return render(request, 'exam_results.html', context)