{% load i18n %}

{% translate 'You\'re receiving this email because you requested a password reset for your account at {{ site_name }}.' %}

{% translate 'Please go to the following page and choose a new password:' %}

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'students:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'Your username, in case you\'ve forgotten:' %} {{ user.get_username }}</p>

{% translate 'Thanks for using our site!' %}</p>

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}</p>
