{% load static %}
<div class="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 col-8">
                <button class="mobile-menu-toggle" id="mobileMenuToggle">
                    <i class="fas fa-bars"></i>
                </button>
                <h2 class="d-inline-block "> {{ page_title }} </h2>
            </div>
            <div class="col-md-6 col-4 text-end">
                <span class="me-3  d-none d-md-inline">Welcome, Admin</span>
                <img src="{% static "images/me2.jpg" %}" class="user-photo" alt="Admin Photo">
            </div>
        </div>
    </div>
</div>